@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100..800&family=Federant&display=swap');

.federant-regular {
    font-family: "Federant", serif;
    font-weight: 400;
    font-style: normal;
  }

  .anek-kannada {
    font-family: "Anek Kannada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  


body {
    font-family: "Anek Kannada" ;
    margin: 0;
    background-image: url("../image/horoscopebackground.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    color: #F0A5A5;
}
    

.background-wrapper {
    margin: auto;
   width: 20rem;
   height: 30rem;
   background-color: #5A3E79;
   display: Flex;
   flex-direction: column;
   border-radius: 15px;
   padding: 2rem;
}

h1 {
    font-family: "Federant";
    font-size: 3rem;
    color: #F0A5A5;
    margin: 0;
}

label {
    padding: .5rem;
}

.choose-sign {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#sign {
    margin: 0;
    border-radius: 10px;
    width: 10rem;
    max-height: 2rem;
}


input {
    background-color: #F0A5A5;
    color: black; 
    margin: 0rem;
    border-radius: 10px;
    padding: .5rem;
}

.hidden-div {
  margin: auto;
  width: 15rem;
  height: 20rem;
}

